<div class="row">
    <h1 style="color:#eff0f1">Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul style="color:#c19d43">
            <li>
                <h1 style="color:#eff0f1">Trabajo 1</h1> - <h3 style="color:#eff0f1">(años)</h3>
            </li>
            <p style="color:#eff0f1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum atque velit, eos, sequi eum quam nisi ipsum similique quidem beatae, eligendi delectus ratione debitis suscipit voluptatem dolor nostrum aliquam quasi!</p>
        </ul>
        <ul style="color:#c19d43">
            <li>
                <h1 style="color:#eff0f1">Trabajo 1</h1> - <h3 style="color:#eff0f1">(años)</h3>
            </li>
            <p style="color:#eff0f1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum atque velit, eos, sequi eum quam nisi ipsum similique quidem beatae, eligendi delectus ratione debitis suscipit voluptatem dolor nostrum aliquam quasi!</p>
        </ul>
        <ul style="color:#c19d43">
            <li>
                <h1 style="color:#eff0f1">Trabajo 1</h1> - <h3 style="color:#eff0f1">(años)</h3>
            </li>
            <p style="color:#eff0f1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum atque velit, eos, sequi eum quam nisi ipsum similique quidem beatae, eligendi delectus ratione debitis suscipit voluptatem dolor nostrum aliquam quasi!</p>
        </ul>
    </div>
</div>